[submodule "home/.janus/vim-slim"]
	path = home/.janus/vim-slim
	url = https://github.com/bbommarito/vim-slim.git
[submodule "home/.janus/vim-ragtag"]
	path = home/.janus/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "home/.janus/vim-buffergator"]
	path = home/.janus/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
